.homeScreen {
   background: url('../../img/mainscreen.png') center no-repeat;
   width: 100%;
   height: 100vh;
   background-size: cover;
   position: relative;

   .contacts {
      position: absolute;
      top: 26px;
      right: 123px;
      width: 207px;

      img {
         width: 20px;
         height: 20px;
      }
   }

}

.home-screen__title {
   width: 53%;
   position: absolute;
   bottom: 27%;
   left: 110px;
   transform: rotateZ(13deg);
}