@import '../../variables/variables.scss';

.order-box__table {
   font-weight: 600;
   color: $green;
   display: grid;

   grid-template-columns:  25% 30% 20% 20% 5%;
   text-align: center;
   @media (max-width:762px) {
      grid-template-columns:  20% 30% 22% 23% 5%;
   }
}

.table-column__name:nth-child(1) {
   min-width: 150px;

   @media (max-width: 768px) {
      min-width: 100px;
   }
   @media (max-width: 560px) {
      min-width: 50px;
   }
}
.table-column__name:nth-child(2) {
   grid-column: 2/3;
   

}

.table-column__name:nth-child(3) {
   grid-column: 3/4;
}

.table-column__name:last-child {
   grid-column: 4/5;
}

.order-box__summary {
   margin-bottom: 40px;
}

#no-ordered-items {



   text-align: center;
   padding: 40px 0 60px;

   span {
      font-weight: 600;
      font-size: 1.3em;
   }

   a {
      font-size: 1.1em;
      font-weight: 400;
   }
}