@import '../../variables/variables.scss';

.order-box {
   width: 100%;
   height: 100%;
   border: 1px solid black;
   border-radius: 90px;
   background-color: white;

   padding: 60px 120px;

   @media (max-width: 1200px) {
      padding: 60px 80px;
   }
   @media (max-width: 992px) {
      border-radius: 60px;
      padding: 60px 40px;
   }
   @media (max-width: 580px) {
      border-radius: 50px;
      padding: 30px 30px;
   }
   @media (max-width: 540px) {
      border-radius: 0;
      border: none;
      padding: 30px 25px;
   }
   h2 {
      margin-bottom: 20px;
   }



   &__delivery {
      font-size: 24px;
      padding: 70px 20px 70px 50px;
      @media (max-width: 640px) {
         padding: 30px 20px;
         font-size: 0.8rem;
      }
      input {
        margin-top: 30px;
        
      }
   }

   &__warning {
      span {
         font-size: 20px;
         @media (max-width: 640px) {
            font-size: 1rem
         }
      }

      margin-bottom: 80px;
      @media (max-width: 640px) {
         margin-bottom: 40px;
      }
   }
   .order-button{
      @media (max-width: 992px) {
         font-size: 28px;
      }
   }
   
}

input[type="radio"] {
   accent-color: $grey;
}

label {
   font-size: 1.2rem;
   @media (max-width: 640px) {
      font-size: 1.1em;
   }
}

.order-input--dark {
   color: black;

   &::placeholder {
      color: rgb(0, 0, 0);
      opacity: 0.55;
   }

   @media (max-width: 762px) {
      width: 300px;
      height: 55px;
   }
   @media (max-width: 600px) {
      width: 270px;
      height: 47px;
   }
}

.order__second-screen {

   width: 100%;
   height: 100%;
   min-height: 65%;
   border: 1px solid black;
   border-radius: 90px;
   background-color: white;
   text-align: center;
   padding: 120px 120px;

   span:first-child {
      font-weight: 600;
      font-size: 1.2em;
   }

   .order-second-text {}

   a {
      font-size: 0.7em;
      color: $yellow;
      line-height: 3;

   }


}


