.reviews__item {

   display: flex;
   text-align: center;
   flex-direction: column;
   margin-bottom: 25px;

   picture {}

   gap: 5px;

   span {
      font-size: 16px;
      color: rgb(83, 83, 83);
      margin-bottom: 15px;

   }
}

.reviews__image {
   width: 250px;
   height: 250px;
   object-fit: cover;
   border-radius: 20px;
}

.reviews__avatar {
   position: absolute;
   width: 30px;
   height: 30px;

   bottom: 0;
   ;
}

.reviews__review {
   width: 360px;
   position: relative;

   &:nth-child(even) {
      align-self: flex-end;

      .reviews__avatar {
         right: -12%;
      }

   }

   &:nth-child(odd) {
      .reviews__avatar {
         left: -12%;
      }

      margin-bottom: 4px;
   }
}


@media (max-width:992px) {
   .reviews__item {
      span {
         font-size: 14px;
      }
   }

   .reviews__image {
      width: 200px;
      height: 200px;
   }

   .reviews__review {
      widtH: 280px
   }
}

@media (max-width:600px) {
   .reviews__item {
      span {
         font-size: 12px;
      }
   }

   .reviews__image {
      width: 150px;
      height: 150px;
   }

   .reviews__review {
      widtH: 220px
   }

   .reviews__avatar {
      width: 20px;
      height: 20px;
   }
}


@media (max-width:460px) {


   .reviews__image {
      width: 120px;
      height: 120px;
   }

   .reviews__review {
      widtH: 180px
   }

   .reviews__avatar {
      width: 15px;
      height: 15px;
   }
}