.container {
   max-width: 1620px;
   margin: 0 auto;
   width: 100%;


   padding: 120px 100px 80px;

}

.container--wide {
   max-width: 1840px;
   padding: 120px 100px;
   width: 100%;
   height: 100%;

}

.container--max {
   max-width: 1040px;
}

@media (max-width: 800px) {
   .container {
      padding: 80px 50px 40px;
   }

   .container--wide {
      padding: 80px 50px 40px;
   }
}

@media (max-width: 540px) {
   .container {
      padding: 80px 35px 40px;
   }

   .container--wide {
      padding: 80px 35px 40px;
   }
}

@media (max-width: 460px) {
   .container {
      padding: 80px 25px 40px;
   }

   .container--wide {
      padding: 80px 25px 40px;
   }
}