@import '../../variables/variables.scss';

.order-button {
   text-transform: capitalize;
   width: 340px;
   height: 80px;
   color: $violet;
   background-color: $yellow;
   border-radius: 90px;
   display: block;
   border: none;
   position: relative;
   font-size: 32px;
   // box-shadow: 0px 0px 8px $violet;




   &:hover,
   &:focus {
      cursor: pointer;

      &::after {
         content: '';
         position: absolute;
         top: -5px;
         left: -5px;
         width: calc(100% + 10px);
         height: calc(100% + 10px);
         border-radius: 90px;
         border: 2px solid rgb(207, 185, 59);
      }

      // box-shadow: 0px 0px 12px rgb(67, 43, 95);


   }
}