.order-button {
   text-transform: uppercase;
   width: 250px;
   height: 80px;
   color: rgb(36, 36, 36);
   background-color: rgb(225, 202, 72);
   border-radius: 20px;
   display: block;
   border: none;
   position: relative;
   font-size: 24px;
}