@import '../../variables/variables.scss';

.products-screen {
   height: 100%;
   width: 100%;
   overflow-x: hidden;
   text-align: center;



   .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }


   h2 {
      margin-bottom: 3.5%;
   }

   a {
      color: $yellow;
   }

   span {
      font-size: 1.2em;
   }
}

.products-article {
   padding: 30px 115px;
   transition: opacity ease 0.3s;
   font-size: 28px;
   text-align: center;
}


.products-container {
   display: flex;
   position: relative;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   padding: 0 20px 0;
   margin-bottom: 3%;
   margin-top: 6%;
   height: 380px;
}

.products-article.article-of-product {
   padding: 4% 4%;
   margin: 0 4%;
   border-radius: 20px;
   display: block;
   font-size: 0.8em;
   background-color: rgba(156, 141, 165, 0.2)
}



@media (max-width: 1400px) {
   .products-screen {
      .container {
         padding: 80px 40px 80px;
      }
   }
}

@media (max-width: 1300px) {
   .products-screen {
      .container {
         padding: 80px 20px 80px;
      }
   }

   .products-container {
      height: 350px;
   }
}

@media (max-width: $tablet-large) {


   .products-container {
      position: relative;
      width: 100%;
      
   }

   .products-article {
      font-size: 0.95em;
      padding: 30px 12%;
   }

   .products-screen {
      span {
         display: none;
      }
   }
}

@media (max-width: $tablet-small) {


   .products-container {
      position: relative;
      width: 100%;


   }





}

@media (max-width: 454px)  {
   .products-container {
      height: 270px;
      margin-bottom: 1%;
   }

   .products-article.article-of-product {
      font-size: 0.65em;
   }
}

@media (max-width: 400px) {
   .products-article {
      font-size: 0.8em;
      padding: 0;
   }

   .products-screen {
      .container {
         padding: 80px 20px 80px;
      }
   }

   .products-article.article-of-product {
      width: calc(100% + 40px);
      transform: translateX(-20px);
      margin: 0;
      padding: 20px;
      border-radius: 0;
   }
}