@import '../../variables/variables.scss';

.contact-form__second-screen {

   position: relative;

   width: 100%;
   padding-top: min(10vh, 120px);

   .contact-form__contact {
      position: absolute;
      top: 40%;
      left: 35px;

      transform: translateY(-50%);
   }

   .contact-form__inner {
      p {
         margin-bottom: 4vh;
      }
   }

   .contact-back {
      span {
         color: $yellow;
      }

      svg {
         fill: $yellow;
      }
   }

   .contact-back:hover {
      span {
         color: $yellow-hovered;
      }

      svg {
         fill: $yellow-hovered;
      }

      .arrow--back {
         background-color: $yellow-hovered;

      }

      .arrow--back::before {
         border-right-color: $yellow-hovered;
         border-bottom-color: $yellow-hovered;
      }
   }

}