@import '../../variables/variables.scss';

.contact-form {
   background-color: #626068;
   border-radius: 90px;
   height: 100%;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 5% 10%;


   h3 {}

}