@import '../../variables/variables.scss';

.contact-form {


   p {

      color: $white;
   }

   span {
      color: $lil;
      font-size: 16px;
   }

   &__subtitle {
      font-size: 18px;
      max-width: 460px;
      margin-bottom: 60px;
   }



   &__inner {
      max-width: 600px;
      margin: 0 auto;

      text-align: center;

      p {
         font-size: 24px;
         margin-bottom: 30px;
      }
   }

   &__contacts {
      max-width: 520px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center
   }

   &__contact {
      background: none;
      padding: 0 10px;



      svg {
         display: block;
         width: 50px;
         height: 50px;
         margin: 0 auto;
         fill: $lil;
         filter: drop-shadow(3px 3px 5px $violet);

      }

   }





   &__contact:hover {
      cursor: pointer;


      svg {
         fill: $yellow;

      }

      span {
         color: $yellow;
      }


   }

}