@import './utils/nullification.scss';
@import './components/container/container.scss';
@import './components/common//h2.scss';
@import './components/common//h3.scss';
@import './components/common//h4.scss';
@import './variables/variables.scss';
@import './fonts/fonts.scss';

#shop {
   padding-top: 100px;
}

body {
   font-family: 'Montserrat';
   font-weight: 400;
   font-size: 28px;
   scroll-behavior: smooth;
}

.about {
   // width: 100%;
}

a {
   color: $yellow
}

#shop {
   min-height: 100vh;
   position: relative;

   .container {
      padding-bottom: 170px;
   }

   footer {
      position: absolute;
      bottom: 0;
      left: 0;
   }

}

#order {
   background-color: $bej;
   min-height: 100vh;
   padding-top: 12vh;

   .container {

      width: 100%;
      height: 100%;
   }
}