.products-item__inner {
   position: absolute;
   top: 0;
   left: 0;
   cursor: pointer;
   display: flex;
   width: 100%;
   z-index: -1;
   overflow: hidden;
   border-radius: 20px;
   height: 100%;


   .products-item__back {
      transition: all ease 2s;
      transition-delay: 0;
      min-width: 350px;
      width: 400px;
      height: 100%;
      background-color: coral;
      border-radius: 20px 0 0 20px;


   }

   .products-item__picture {

      object-fit: cover;
      height: 100%;
      width: 100%;


   }

   article {
      background-color: rgb(218, 205, 188);
      // animation: innerShowing 1s forwards;
      min-width: 450px;
      border-radius: 0 20px 20px 0;
      overflow: hidden;
      z-index: -1;
      left: -20px;
      text-align: left;
      padding: 20px 70px 20px 40px;


   }



}