.container {
   max-width: 1620px;
   margin: 0 auto;
   width: 100%;
   height: 100%;
   padding: 4% 100px 40px;

}

.container--wide {
   max-width: 1840px;
   padding: 5% 100px;
   width: 100%;
   height: 100%;
}

.container--max {
   max-width: 1040px;
}