@import '../../variables/variables.scss';

.about-screen {
   height: 100vh;
   width: 100%;
   padding-top: 120px;

   .container {
      display: flex;
      flex-direction: row;
   }

   &__item {
      display: block;

      padding: 20px;


   }

   &__item:first-child {


      p {
         margin-top: 75px;
         font-size: 32px;
         padding-right: 100px;
      }
   }

   a {
      color: $yellow;
   }

   &__item:last-child {


      p {
         padding: 40px 0;
         text-align: center;
         font-size: 24px;
      }
   }

   h2 {

      text-align: left;
   }

}