@import '../../variables/variables.scss';

.about-screen {
   height: 100vh;
   width: 100%;
   padding-top: 5%;

   .container {
      display: flex;
      flex-direction: row;


   }

   &__item {
      display: block;
      width: 50%;



   }

   &__item:first-child {

      padding: 5% 100px 20px 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      gap: 55px;

      p {

         font-size: 32px;
      }

   }

   a {
      color: $yellow;
   }

   &__item:last-child {

      padding-top: calc(300px - 25%);

      padding-left: 40px;
      text-align: center;

      .slider {
         margin: 0 auto;
         margin-bottom: 25px;

      }

      span {


         font-size: 34px;
      }
   }

   h2 {

      text-align: left;
   }



}