@import '../../variables/variables.scss';

nav {

   width: 490px;
   height: 80px;
   padding: 10px;
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   background-color: $bej;
   border-radius: 0 0 50px 50px;
   z-index: 10;



   &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 2px solid $lil;
      background-color: $bej;
      z-index: -1;
   }

   ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 60px;
      z-index: 11;
      height: 100%;

      li {
         font-size: 20px;
         line-height: 1;
         font-weight: bold;
         color: $violet;

         &:hover,
         &:focus,

         &:focus-within {
            color: $yellow;


         }
      }






   }
}

.nav__logo {
   width: 60px;
   height: 60px;
   fill: $violet
}