nav {

   width: 350px;

   padding: 15px;
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   background-color: rgba(236, 232, 225, 0.8);
   border-radius: 0 0 30px 30px;
   z-index: 10;

   li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;

      ul {
         font-size: 20px;
         line-height: 1;
         font-weight: bold;
      }

      ul:first-child {
         color: rgb(54, 109, 54)
      }

      ul:last-child {
         color: rgb(102, 60, 71)
      }
   }
}