@import '../../variables/variables.scss';

.contact-form {
   background-color: rgba(39, 39, 50, 0.8);
   backdrop-filter: blur(5px);
   border-radius: 90px;
   height: 700px;
   width: 100%;
   max-width: 1100px;
   margin: 0 auto;
   padding: 40px 8%;
   position: relative;

   h3 {}

   &__subtitle {
      display: block;
      color: $lil;
      font-size: 0.75em;
      margin: 5px 0 min(10%, 100px) 160px;
   }
}

@media (max-width: 992px) {
   .contact-form {
      border-radius: 60px;
      height: 680px;
      padding: 30px 8%;

      &__subtitle {
         margin: 5px 0 10% 30%;
      }
   }

}

@media (max-width: 630px) {
   .contact-form {
      border-radius: 60px;

      &__subtitle {
         margin: 5px 0 15% 20%;
      }
   }

}

@media (max-width: $phone) {
   .contact-form {
      border-radius: 40px;
      height: 580px;

      &__subtitle {
         text-align: right;
         margin-left: 20px;
      }
   }


}

@media (max-width: 440px) {
   .contact-form {

      border-radius: 0;
      padding: 50px 25px 25px;
   }
}