@import '../../variables/variables.scss';

.contacts {
   display: flex;
   justify-content: space-around;

   svg {
      width: 25px;
      height: 25px;
      fill: $lil;


   }

   a {

      &:hover,
      &:focus {
         svg {
            fill: $green;
         }
      }
   }



}