@import '../../variables/variables.scss';

.products-screen {
   height: 100vh;
   width: 100%;

   text-align: center;

   padding-top: 28px;

   h2 {

      padding: 0 20px;
   }

   a {
      color: $yellow;
   }

   span {
      font-size: 38px;
   }
}

.products-article {
   padding: 0 115px;
   margin-bottom: 25px;
   font-size: 28px;
   text-align: center;
}


.products-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   padding: 0 20px 0;
   margin-bottom: 63px;
   margin-top: 115px;
   height: 400px;
}


@media (max-width: 1400px) {
   .products-screen {
      .container {
         padding: 5% 40px 0;
      }
   }
}

@media (max-width: 1270px) {
   .products-screen {
      .container {
         padding: 5% 20px 0;
      }
   }
}

@media (max-width: 1200px) {
   .products-screen {
      .container {
         padding: 5% 0 0;

      }
   }
}