@import './utils/nullification.scss';
@import './components/container/container.scss';
@import './components/common//h2.scss';
@import './components/common//h3.scss';
@import './components/common//h4.scss';
@import './variables/variables.scss';
@import './fonts/fonts.scss';


html {}

body {
   max-width: 100%;



   font-family: 'Montserrat';
   font-weight: 400;
   font-size: calc(16px + (24 - 16) * (100vw - 320px)/(1920 - 320));
   scroll-behavior: smooth;
   // overflow-x: hidden;
}

#root {}



.about {
   // width: 100%;
}

a {
   color: $yellow
}

#shop {
   min-height: 100%;
   position: relative;

   .container {
      padding-top: 100px;
      padding-bottom: 170px;
    
   
   }
 
   footer {

      position: absolute;
      bottom: 0;
      left: 0;
   }

  
}

#order {
   background-color: $bej;
   min-height: 100%;


   .container {
      padding-top: 15%;
      width: 100%;

      @media (max-width:992px) {
      
         padding:17% 40px 50px 40px;
   }
   @media (max-width:540px) {
      
      padding:18% 0 0;
}


   }
 

}