.order-count {
   width: 140px;
   height: 60px;
   border-radius: 30px;
   border: 1px solid black;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

   @media (max-width: 860px) {
      width: 100px;
   height: 50px;
   }
   @media (max-width: 700px) {
      width: 70px;
      height: 34px;
   }
   @media (max-width: 540px) {
      flex-direction: column;
      width: 40px;
      height: 80px;
      border-radius: 18px;
      text-align: center;
     
   }
  

   .products__arrow {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      width: 50px;
      padding: 30px;
      transform: scale(0.7);
      @media (max-width: 860px) {
         width: 45px;
         padding: 10px;
         transform: scale(0.6);
      }
      @media (max-width: 700px) {
         width: 30px;
         transform: scale(0.5);
      }
      @media (max-width: 540px) {
         width: 10px;
         height: 30px;
         transform: scale(0.5) rotateZ(90deg);
      }
   }
}