@import '../../variables/variables.scss';

nav {

   width: 500px;
   height: 65px;
   padding: 5px;
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   background-color: $bej;
   border-radius: 0 0 35px 35px;
   z-index: 10;
   transition: top ease 0.25s;

   border-top: none;


   &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 95px;
      height: 95px;
      border-radius: 50%;
      border: 3px solid $lil;
      background-color: $bej;
      z-index: -1;
   }

   ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 50px;
      z-index: 11;
      height: 100%;

      li {
         font-size: 18px;
         line-height: 1;
         font-weight: bold;
         color: $violet;
         cursor: pointer;

         padding: 15px 15px;

         &:hover {
            color: $yellow;
         }

         a {
            display: block;
         }
      }






   }

   .logo {
      width: 45px;
      height: 45px;
      fill: $violet
   }

}

.nav--hidden {
   top: - 100px;
}



@media (max-width: $tablet-large) {
   nav {
      width: 100vw;

      border-radius: 0 0 0 0;

      &::before {}

      .logo {
         transform: scale(1);
      }



      .contacts {
         position: absolute;
         top: 50%;
         right: 5%;
         transform: translateY(-50%);
         width: 17%;
      }
   }
}

@media (max-width: 800px) {
   nav {
      .contacts {


         a:nth-child(2),
         a:last-child {
            display: none;
         }

         width: 30px;
      }
   }

}

@media (max-width: 600px) {
   nav {
      ul {
         gap: 40px;
      }


   }
}

@media (max-width: $phone) {
   nav {
      ul {
         gap: 20px;
      }


   }
}

@media (max-width: 500px) {
   nav {

      height: 65px;


      &::before {
         width: 83px;
         height: 83px;
      }

      .logo {
         scale: 0.87;
      }


      ul {


         li {
            font-size: 16px;
            padding: 10px;
         }
      }



   }
}

@media (max-width: 404px) {
   nav {
      .contacts {
         display: none;
      }
   }

}